    body {
        background-color: #403a34;
        color: #8d8d90;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    /* .bg-red {
        background-color: #dc3545;
    } */
.container {
    min-width: 90%;
    /* Adjust the width to a smaller value if necessary */
}


   

    .blank-space {
        width: 5%;
    }

    h2{
        font-weight: bold;

    }

    h2, h4, h3, h1{
        font-family: 'Roboto', sans-serif;
        color: white;
    }
    h2,
    h4,
    p,
    a {
        
        text-align: center;
    }

    p,a{
    color: #b4b4b6;
    text-align: start;
    }
        .card-body li{
            text-align: start;
        }
    .icons li i, div i {
        color: #b4b4b6;
    }

    .social-icons a i {
        color: #b4b4b6;
    }
        .custom-list {
            margin-left: 0;
            /* Reset default margin */
            margin-top: 0;
            /* Reset default margin */
            margin-bottom: 0;
            /* Reset default margin */
            margin-right: 20px;
            /* Set custom margin */
        }

                        .custom-list li a {
                            color: inherit;
                            /* Use the default text color */
                            font-size: 16px;
                            /* Set the default font size */
                            text-decoration: none;
                            /* Remove the underline */
                            transition: color 0.2s, margin-left 0.2s;
                            /* Add transition for smooth animation */
                        }
            
                        .custom-list li a:hover {
                            color: white;
                            /* Set the hover color to white */
                            margin-left: 30px;
                            /* Move the link forward by 5 pixels */
                        }

.left-content {
    position: fixed;
    
    width: 32.5%;
    /* background-color: #152238; */
    color: white;
    padding-left: 10px;
}

.right-content {
    max-width: 80%;
    margin-left: 40%;
    padding-left: 30px;
    top: 0;
    bottom: 0;
    left: 0;
}

.card {
    background: black;
}



.card.mb-4.project-card {
    transition: transform 0.3s;
}

.card.mb-4.project-card:hover {
    transform: scale(1.05);
    border-color: white;
    text-decoration: none;
}

.card.mb-4.project-card:hover h3,
.card.mb-4.project-card:hover p {
    color: white;
}

.card.mb-4.project-card:hover li {
    color: white;
}

@media (max-width: 767px) {
    .left-content {
        position: relative;
        width: 100%;
        height: auto;
        padding-bottom: 30px;
    }
        .card {
min-width: 100%;        }

    .right-content {
        padding-left: 5px;
        margin-left: 1%;
        text-align: center;
        justify-content: center;
        justify-items: center;
        margin-top: 30px;
        min-width: 100%;
    }

    .left-content-inner {
        padding: 5px;
    }

    .container-tp {
        min-width: 100%;
    }

    .about-section,
    .experience-section,
    .project-section {
        margin-bottom: 30px;

    }

    .project-card {
        display: block;
        margin-bottom: 30px;
       
    }

    .project-card .card-body {
        padding: 15px;
      
    }

    .project-card .card-body img {
        width: 100%;
        
    }
}

/* Default styles for larger screens */
.important-links {
    display: block;
    /* Ensure the element is displayed as a block */
}

/* Styles to hide on small screens */
@media (max-width: 767px) {

    /* Adjust the maximum width as needed */
    .important-links {
        display: none;
        /* Hide the element */
    }

    .fa-4x {
        font-size: 3rem !important;
    }
        .tags {
            display: none;
           
        }
}

.tags {
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.tag {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 30%;
    background-color: transparent;
    color: green;
}

.contact{
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}